.ScoreTable {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.ScoreTable table {
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}